body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Bedarfsrechner{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



p{
  margin-top: 1rem;
  margin-bottom: 1rem
}

h1{
  max-width: 70%;
  text-align: center;
}

/* input{
margin-left: 1rem
} */

#Form{
  background-color: aliceblue;
  border-radius: 5%;
  padding:2rem;
  width: 50%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.MuiInputBase-root {
  margin-left: 2rem;
  margin-bottom: 20px;
  display: flex;
}

label{
  margin-left: 30px;
}